<div ng-controller="editController">

  <h1> Edit Page </h1>
  <br>
  	<div class="row">
      <!-- FORMA ZA IZMENU -->
      <div class="col-6">
        <form name="editForm" ng-submit="edit()">

         <div class="form-group">
            <label for="model"><b>Model:</b></label>
            <input class="form-control" id="model" ng-required="true" ng-model="edited.model"/>
          </div>

		  <div class="form-group">
            <label for="registration"><b>Registration:</b></label>
            <input class="form-control" id="registration" ng-required="true" ng-model="edited.registration"/>
          </div>

          <div class="form-group">
            <label for="year"><b>Year:</b></label>
            <input class="form-control" id="year" ng-required="true" ng-model="edited.year"/>
          </div>
          
          <div class="form-group">
            <label for="consumption"><b>Fuel Consumption:</b></label>
            <input class="form-control" id="consumption" ng-required="true" ng-model="edited.fuelConsumption"/>
          </div>
          
          <div class="form-group">
            <label for="rent"><b>Rent:</b></label>
            <input class="form-control" id="rent" ng-attr-placeholder="{{edited.rent ? 'Yes' : 'No'}}" ng-readonly="true"/>
          </div>
         
          <div class="form-group">
            <label for="company"><b>Company:</b></label>
            <select class="form-control" id="company" ng-required="true" ng-model="edited.companyId">
              <option ng-repeat="c in companies" ng-selected="c.id == edited.companyId" value="{{c.id}}">{{c.name}}</option>
            </select>
          </div>

          <input class="btn btn-info btn-sm" ng-disabled="editForm.$invalid" type="submit" value="Save changes"/>
          <br><br><br>
          </form>
        </div>


	</div>
</div>
