<div ng-controller="homeController">


   <div class="jumbotron">
     <div class="container-fluid">
        <h1>{{message}}</h1>
      </div>
		</div>


    <div class="row">
    
      <!-- FORMA ZA UNOS -->
      
      <div class="col-10" ng-show="!myVar">
      	<button class="btn btn-primary btn-sm float-right" ng-click="myVar=!myVar">Show Search</button>
        <br><br>
        <form name="add" ng-submit="save()">

         <div class="form-group">
            <label for="model"><b>Model:</b></label>
            <input class="form-control" id="model" ng-required="true" ng-model="saved.model"/>
          </div>

		  <div class="form-group">
            <label for="registration"><b>Registration:</b></label>
            <input class="form-control" id="registration" ng-required="true" ng-model="saved.registration"/>
          </div>

          <div class="form-group">
            <label for="year"><b>Year:</b></label>
            <input class="form-control" id="year" ng-required="true" ng-model="saved.year"/>
          </div>
          
          <div class="form-group">
            <label for="consumption"><b>Fuel Consumption:</b></label>
            <input class="form-control" id="consumption" ng-required="true" ng-model="saved.fuelConsumption"/>
          </div>
          
          <div class="form-group">
            <label for="company"><b>Company:</b></label>
            <select class="form-control" id="company" ng-required="true" ng-model="saved.companyId">
              <option ng-repeat="c in companies" value="{{c.id}}">{{c.name}}</option>
            </select>
          </div>

          <input class="btn btn-info btn-sm" ng-disabled="add.$invalid" type="submit" value="Save"/>
          <br><br><br>
          </form>
        </div>



      <!-- FORMA ZA FILTRIRANJE/PRETRAGU -->

      <div class="col-10" ng-show="myVar">
        <button class="btn btn-primary btn-sm float-right" ng-click="myVar=!myVar">Show Add</button>
        <br><br>
        <form name="search">
		  <div class="form-group">
            <label for="model"><b>Model:</b></label>
            <input class="form-control" id="model" ng-model="searchParams.model"/>
          </div>

          <div class="form-group">
            <label for="minYear"><b>Min Year:</b></label>
            <input class="form-control" id="minYear" ng-model="searchParams.minYear"/>
          </div>

		  <div class="form-group">
            <label for="maxConsumption"><b>Max Fuel Consumption:</b></label>
            <input class="form-control" id="maxConsumption" ng-model="searchParams.maxConsumption"/>
          </div>	
		
          <button class="btn btn-info btn-sm" type="button" ng-click="doSearch()">Search</button>
          <br><br><br>
		</form>
          </div>
        </div>
        <br><br>



        <!-- TABELARNI PRIKAZ -->
		
        <div class="btn-group float-right">
          <button class="btn btn-primary btn-sm" ng-click="changePage(-1)" ng-disabled="page == 0">Prev</button>
          <button class="btn btn-primary btn-sm" ng-click="changePage(1)" ng-disabled="page == totalPages - 1">Next</button>
        </div>
        <br><br>

        <table class="table table-striped">
			<thead>
                <th>Model</th>
                <th>Registration</th>
                <th>Year</th>
                <th>Fuel Consumption</th>
                <th>Company</th>
                <th>Action</th>
              </thead>

              <tbody>
                <tr ng-repeat="v in vehicles">
                  <td>{{v.model}}</td>
                  <td>{{v.registration}}</td>
                  <td>{{v.year}}</td>
                  <td>{{v.fuelConsumption}}</td>
                  <td>{{v.companyName}}</td>
                  <td>
                    <div class="btn float-right">
                      <button class="btn btn-warning btn-sm" ng-click="goToEdit(v.id)">Edit</button>
                      <button class="btn btn-danger btn-sm" ng-click="remove(v.id)">Delete</button>
                      <button class="btn btn-primary btn-sm" ng-click="rent(v.id)" ng-disabled="v.rent == true">Rent</button>
                    </div>
                  </td>
                </tr>
              </tbody>

            </table>


  </div>
</div>
